.modal {
    padding: 20px;
    position: absolute;
    z-index: 2;
    width: 400px;
    top: 50%;
    left: 50%;
    background-color: white;
    border: solid 2px black;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    opacity: 1;

    display: flex;
    flex-direction: column;

    &__wrapper {
        opacity: 0.5;
        background: black;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__header {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        width: 200px;
    }

    &__form-helper-text {
        color: red;
    }

    &__button {
        padding: 0;
        border: none;
        background: transparent;
        outline: none;

        &--close {

        }

        &--submit {
            margin-top: 10px;
            border: solid 1px black;
            border-radius: 25px;
            padding: 5px 10px;
        }
    }
}