.tree-node {
    &__element {
        display: flex;
    }

    &__name {
        font-size: 20px;
        height: 24px;
    }

    &__control {
        height: 24px;
        margin-left: 10px;
    }

    &__svg {
        height: 30px;
        > div {
            height: 30px;
        }
    }

    &__button{
        padding: 0;
        border: none;
        background: transparent;
        outline: none;

        &--expand {
            margin-left: -24px;
        }
    }

    &__children {
        padding-left: 20px;
    }

    &__arrow {
        &--down {
            transform: rotate(90deg);
        }

        &--right {
            transform: scaleX(1);
        }

    }
}