.tree-root {
    > .tree-node:first-child {
        padding-left: 20px;
    }

    &__button {
        background: transparent;
        outline: none;
        border: solid 1px black;
        border-radius: 25px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}